@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
    margin:0;
    font-family: "Jost", sans-serif; 
}
body::-webkit-scrollbar,
html::-webkit-scrollbar{
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;